

@use './map.scss';

.v-switch--inset{

  .v-selection-control{
    --v-selection-control-size: 20px;
  }

  .v-selection-control:not(.v-selection-control--dirty) .v-switch__thumb{
    background-color: #bdbdbd;
  }

}

.v-chip__content{
  position: relative;
}

.v-selection-control__input .v-icon{
  --v-icon-size-multiplier: 0.9230769230769231;
}

.v-list-item__prepend,
.v-list-item__content,
.v-list-item__append{
  align-self:  auto;
}

.v-chip{
  &.v-chip--size-small{
  font-size: 12px;
  }

  &.v-chip--size-x-small{
    font-size: 10px;
  }
}