@use './settings.scss' as settings;

.maplibregl-map {
  font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
}

.maplibregl-ctrl-top-left .maplibregl-ctrl {
  margin: 16px 0 0 16px;
}

.maplibregl-ctrl-top-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin: 16px 16px 0 0;
  float: none;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  margin: 0 0 16px 16px;
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl-attrib {
  margin: 0;
}

.maplibregl-ctrl-group,
.maplibregl-ctrl-group:not(:empty){
  border-radius: settings.$border-radius-root;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

  & > button{
    width: settings.$button-height;
    height: settings.$button-height;

    &:focus{
      box-shadow: none;
    }

    &:not(:disabled):hover{
      background-color: rgba(0, 0, 0, settings.$btn-hover-opacity);
    }
  }
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in,
.maplibregl-ctrl button.maplibregl-ctrl-zoom-out {
  &::before {
    font: normal normal normal 24px/1 "Material Symbols Outlined";
    color: rgba(0, 0, 0, 0.5);
    line-height: settings.$button-height;
  }

  &:hover::before {
    // color: settings.$primary;
  }

  .maplibregl-ctrl-icon {
    background-image: none;
  }
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in {
  &::before {
    content: "\E145";
  }
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-out {
  &::before {
    content: "\E15B";
  }
}

.maplibregl-popup-content {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
  border-radius: settings.$border-radius-root;
  padding: 12px;
  font-size: 12px;
  line-height: 1.25;
  max-height: 210px;
  overflow: auto;
}

.maplibregl-popup-tip {
  border-width: 6px;
}

.maplibregl-popup-close-button {
  width: 12px;
  height: 12px;
  line-height: 12px;
  border-radius: 0 settings.$border-radius-root 0 0;
  opacity: 0.5;

  &:hover {
    background-color: transparent;
  }
}
