// Available variables https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/styles/settings/_variables.scss
// plus components' sass variables https://vuetifyjs.com/en/api/v-btn/#sass-button-background

$border-radius-root: 2px;
$button-height: 40px;
$btn-hover-opacity: .04;

@use "vuetify/settings" with (
  $border-radius-root: $border-radius-root,
  $button-text-transform: none,
  $button-height: $button-height,
  $button-text-letter-spacing: 0,
  $button-font-size: 13px,
  $icon-sizes: ( 
    'default': 1.615385em,
  ),
  $field-control-height: 40px,
  $field-control-padding-start: 8px,
  $field-control-padding-end: 8px,
  $input-control-height: 40px,
  $button-icon-density: ('default': 0, 'comfortable': -2, 'compact': -3),
  $field-font-size: 14px,
  $field-control-affixed-padding: 8px,
  $chip-font-size: 12px,
  $chip-padding-ratio: 4,
  $label-opacity: 1,
  $list-item-icon-margin-start: 8px
);

